<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=temmstorage;AccountKey=zaMKR6/YhEMlmhpUu8TcW/1qas5M3GdZDfcoLQJ3LTC3EaLn9GRfHGEJ56/C+D+rWhl5rkxsgpZv5f+Ivkn/sA=="/>
  </appSettings>
</configuration>